<app-menus *ngIf="isLogin"></app-menus>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-spin-fade-rotating" [fullScreen]="true">
    <div class="spinner-border text-light" style="width: 50px; height: 50px;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>

</ngx-spinner>
<main id="main" class="main">
    <router-outlet></router-outlet>
</main>
<!-- ======= Footer ======= -->
<footer *ngIf="isLogin" id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Medicab</span></strong>. Tous droits réservés
    </div>
    <div class="credits">

        Designed by <a href="https://github.com/AndyMar1204/">Andy Josué</a>
    </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>