<h3 class="text-dark mb-4">Services</h3>
<div class="card shadow">
    <div class="card-header py-3">
        <p class="text-primary m-0 font-weight-bold">Nos services proposés</p>
    </div>
    <div class="card-body">
        <div class="row clean-block clean-services dark">
            <div class="col-md-6 col-lg-4">
                <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/scenery/image5.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Lorem Ipsum</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in.</p>
                    </div>
                    <div><button class="btn btn-outline-primary btn-sm" type="button">Learn More</button></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/scenery/image6.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Lorem Ipsum</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in.</p>
                    </div>
                    <div><button class="btn btn-outline-primary btn-sm" type="button">Learn More</button></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/scenery/image1.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Lorem Ipsum</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in.</p>
                    </div>
                    <div><button class="btn btn-outline-primary btn-sm" type="button">Learn More</button></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/scenery/image1.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Lorem Ipsum</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in.</p>
                    </div>
                    <div><button class="btn btn-outline-primary btn-sm" type="button">Learn More</button></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/scenery/image5.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Lorem Ipsum</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in.</p>
                    </div>
                    <div><button class="btn btn-outline-primary btn-sm" type="button">Learn More</button></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/scenery/image6.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Lorem Ipsum</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in.</p>
                    </div>
                    <div><button class="btn btn-outline-primary btn-sm" type="button">Learn More</button></div>
                </div>
            </div>
        </div>
    </div>
</div>